html {
	margin-left: 17%;
	font-size: 23px;
	font-family: "IBM Plex Sans Thai Looped", sans-serif;
	background-color: #d4d4d3;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main{
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	margin: 0;
	color: black;
}


.menu{
	display: none;
}

.sidebar {
	height: 100%;
	font-size: 17px;
	width: 17%;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
	background-color: rgb(240, 239, 236);
	color: black;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 50%);
	overflow: hidden;
	visibility: visible;
}

#contact h1{
	margin-bottom: 10px;
	margin-left: 30px;
}

#competence h1{
	margin-left: 10px;
}

header {
	background-color: #272727;
	color: rgb(248, 245, 240);
	padding-top: 25px;
	padding-left: 35px;
	padding-right: 25px;
	padding-bottom: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 50%);
	width: 100%;
}

header > p {
	width: 60%;
	margin: 0;
}

header > h1 {
	margin: 0;
}

header > h2 {
	margin-top: 0;
	margin-bottom: 0;

}

.svg {
	width: 20px;
	padding-left: 0;
	padding-right: 10px;
}

ul {
	padding-left: 30px;
}

.sidebar li:before {
	content: "\0025B6";
	margin-left: -20px;
	margin-right: 10px;
}

#contact > p {
	background-color: #d4d4d3;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 50%);
}



#competence {
	margin: 20px;
}

img {
	width: 70%;
	padding-left: 15%;
}

main {
	padding: 20px;
	padding-left: 100px;

    text-align: justify;
    text-justify: inter-word;
}

#formation h3 {
	margin-top: 0;
}

a {
	text-decoration: underline;
	color: rgb(13, 18, 66);
}

main h3 {
	text-decoration: underline;
}

#formation > div,
#experience > div {
	display: grid;
	grid-template-columns: 170px 500px;
	grid-template-rows: 50 50px;
	margin-bottom: 10px;
}

.one {
	grid-column: 1;
	grid-row: 1;
}

.two {
	grid-column: 2;
	grid-row: 1;
}

.three {
	grid-column: 2;
	grid-row: 2;
	color: rgba(0, 0, 0, 0.589);
}

main ul {
	padding: 0;
}

main li {
	display: grid;
	grid-template-columns: 170px 700px;
	grid-template-rows: 50px;
	margin-bottom: 10px;
}

.un {
	padding-bottom: 80px;
}

.trois,
.cinq,
.six {
	padding-bottom: 40px;
}

.quatre {
	padding-bottom: 140px;
}

.sept {
	padding-bottom: 70px;
}

@media (max-width: 1400px) { /*Petit Ć©cran PC ou tablette*/
	html{
		font-size: 20px;
	}

	#formation > div{
	grid-template-columns: 170px 430px;
	
	}

	#experience > div{
		grid-template-columns: 170px 380px;
	}

	header > p {
		width: 80%
	}

	main li {
		grid-template-columns: 170px 600px;
	}

	.cinq{
		padding-bottom: 50px;
	}
    .sidebar{
		font-size: 14px;
		padding-top: 10px;
	}

	#contact p{
		padding: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-bottom: 0px;
	}

	#contact{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#contact h1{
		margin-top: 5px;
		margin-bottom: 5px;

	}

	#competence h1{
		margin-top:5px;
		margin-bottom: 5px;
	}

	#competence {
		margin-top: 5px;
	}

	.sidebar ul {
		margin-top: 0px;
	}

	.svg {
		width: 15px;
		padding-left: 0;
		padding-right: 5px;
	}

	img {
		width: 50%;
		padding-left: 25%;
	}
}

@media (max-widht:1100px){
	#formation > div{
		grid-template-columns: 110px 220px;
	
	}
	
	#experience > div{
		grid-template-columns: 110px 220px;
	}
}

@media (max-width: 1100px) { /*Petit Ć©cran PC ou tablette*/
	
	html{
		margin: 0;
		font-size: 19px;
	}

	header{
		padding-left: 50px;
	}

	.sidebar{
		visibility: hidden;
		height: 100%;
		font-size: 19px;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		padding-top: 20px;
		background-color: rgb(240, 239, 236);
		color: black;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 50%);
	}
	
	.menu{
		display: block;
		width: 50px;
		position:fixed;
		top: 0;
		left: 0;		
		padding-left: 0;
		padding-top: 25px;
	}	

	main li {
		grid-template-columns: 140px 420px;
		grid-template-rows: 50px 10px;
	}

	.un {
		padding-bottom: 80px;
	}
	
	.trois {
		padding-bottom: 40px;
	}
	
	.quatre {
		padding-bottom: 150px;
	}

	.cinq{
		padding-bottom: 50px;
	}
	
	.six{
		padding-bottom: 60px;
	}
	
	.sept {
		padding-bottom: 90px;
	}

	#formation > div{
		grid-template-columns: 110px 440px;
	
	}
	
	#experience > div{
		grid-template-columns: 110px 440px;
	}

	#contact > p {
		margin-top: 5px;
	}
}

@media (max-width:700px){

	html{
		font-size: 15px;
	}

	.sidebar{
		font-size: 15px;
	}
	main{
		padding-left: 20px;
	}

	main li {
		grid-template-columns: 110px 220px;
		grid-template-rows: 50px 10px;
	}

	.un {
		padding-bottom: 110px;
	}
	
	.trois {
		padding-bottom: 40px;
	}
	
	.quatre {
		padding-bottom: 170px;
	}

	.cinq{
		padding-bottom: 70px;
	}
	
	.six{
		padding-bottom: 60px;
	}
	
	.sept {
		padding-bottom: 90px;
	}

	#formation > div{
		grid-template-columns: 110px 220px;
	
	}
	
	#experience > div{
		grid-template-columns: 110px 220px;
	}

	#contact > p {
		margin-top: 5px;
	}
}

@media (max-width:400px){
	html{
		font-size: 14px;
	}
	#formation > div{
		grid-template-columns: 90px 200px;
	
	}
	
	#experience > div{
		grid-template-columns: 90px 200px;
	}

	main li {
		grid-template-columns: 90px 200px;
	}
}

